asgiref==3.8.1
Brotli==1.1.0
click==8.2.0
dj-database-url==2.3.0
Django==5.2.1
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djoser==2.3.1
h11==0.16.0
python-dotenv==1.1.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
uvicorn==0.34.2
whitenoise==6.9.0
